{% extends 'base/base.html' %}

{% block title %}Home-Login{% endblock title %}Home-Register

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<link rel="stylesheet" href="/media/css/login.css">
<div class="signup-container">
    <div class="signup-box">
        <div class="login-header">
            <h2>Welcome Back</h2>
            <p class="subtitle">Please enter your details to sign in</p>
        </div>
        
        <form method="POST" class="login-form">
            {% csrf_token %}
            {% include "base/alert.html" %}
            
            <div class="form-group">
                <div class="input-group">
                    <i class="fas fa-user input-icon li"></i>
                    <input type="text" id="username" name="username" placeholder="Enter your username">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <i class="fas fa-envelope input-icon li"></i>
                    <input type="email" id="email" name="email" placeholder="Enter your email">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <i class="fas fa-lock input-icon li"></i>
                    <input type="password" id="password" name="password" placeholder="Enter your password">
                    <i class="far fa-eye-slash toggle-password"></i>
                </div>
            </div>

            <button type="submit" class="login-btn">
                <span>Login</span>
                <i class="fas fa-arrow-right nfas"></i>
            </button>

            <div class="additional-links">
                <p>Don't have an account? <a href="/signup" class="highlight-link">Sign up</a></p>
                <p>Forgot Password? <a href="password-reset" class="highlight-link">Reset Password</a></p>
            </div>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.querySelector('.toggle-password');
        const passwordInput = document.querySelector('#password');
    
        togglePassword.addEventListener('click', function() {
            // Toggle password visibility
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            
            // Toggle icon
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    });
    </script>
{% endblock %}
