{% extends 'base/base.html' %}


{% block content %}




   
   
    <link rel="stylesheet" href="/media/css/pomegranate/pom_overall.css">

    <div class="container">
        <div class="header">
            <h1>MCQwave POMEGRANATE</h1>
            <p class="intro">Explore in-depth graphical analysis with MCQwave Pomegranate. Hover over the info icons for detailed insights.</p>
        </div>
        <div class="grid">
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='acc_test/';">Test Performance</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Test Performance">
                    <p>Graphical representation of your test-wise score trends.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='sub_acc/';">Subject Accuracy</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Subject Accuracy">
                    <p>Overview of accuracy per subject.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='radar/';">Radar Graph</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Radar Graph">
                    <p>Visualize overall performance with radar graphs.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='diff_vs_time/';">Difficulties vs Time</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Difficulties vs Time">
                    <p>Compare difficulties with time taken for each.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='type_vs_time/';">Types vs Time</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Types vs Time">
                    <p>Analyze different types of questions vs time spent.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='diff_corr_incorr/';">Difficulties vs Accuracy</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Difficulties vs Accuracy">
                    <p>Correlation between difficulties and correct/incorrect answers.</p>
                </span>
            </div>
            <div class="button-wrapper">
                <button class="btn" onclick="window.location.href='type_corr_incorr/';">Types vs Accuracy</button>
                <div class="info-icon">i</div>
                <span class="info-text">
                    <img src="/media/photos/pom_overall/radar.jpg" alt="Types vs Accuracy">
                    <p>Analyze accuracy for different types of questions.</p>
                </span>
            </div>
        </div>
    </div>
   
    {% endblock %}

    {%block pp%}
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          
            <i class="fas fa-user-circle profile-icon"></i>
          
          {{ user.username }}
          
        </a>
        <div class="dropdown-content">
          <a href="#">Settings</a>
          <a href={% url 'logout' %}>Logout</a>
        </div>
      </li>
    
    
    {%endblock%} 